html{
    scroll-behavior: smooth;
}

body {
    background-color: #0b1956;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #00011e;
    font-family: 'Quicksand';
    font-weight: bolder;
    font-size: 104px;
}

h2 {
    color: #00011e;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 42px;
}
h3 {
    color: #00011e;
    font-family: 'Quicksand';
    font-size: 28px;
}

p {
    color: #00011e;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: normal;
}
/* Nav Bar */
nav {
    height: 54px;
    width: 100%;
    background: rgb(70,110,195);
    background: linear-gradient(90deg, rgba(70,110,195,1) 0%, rgba(11,25,86,1) 100%);
    padding-top: 0%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 0px 32px 0px 32px;
}


nav a{
    font-family: 'Inter';
    font-size: 16px;
    margin: 15px;
}

nav a:link, nav a:visited{
    color: #dbd6fa;
    text-decoration: none;
}

nav a:hover, nav a:active{
    color: #c5c1e1;
}


/* Section: Landing Page */
.landing {
    align-items: center;
    background-color: #f8f3ec;
    
}
.intro{
    text-align: center;
    padding: 10%;
}

/* Section: Projects */
.projects{
    height: auto;
    border-top: 16px;
    border-bottom: 16px;
    background-color: #f8f3ec;
    padding: 40px 0px 40px 0px;
}

.project_grid{
    display: grid;
    column-gap: 25px;
    row-gap: 124px;
    grid-template-columns: auto auto auto;
    padding: 32px;
    justify-content: space-around;
}


.project_photo{
    background-color: white;
    border-radius: 12px;
    width: 450px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.project_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project_card p{
    margin-bottom: 16px;
}


.project_photo .star {
    position: absolute;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; 
    color: #0b1956; 
}

/* Stars when hovering effect */
.project_photo .top-left { top: 5px; left: 5px; }
.project_photo .bottom-right { bottom: 5px; right: 5px; }

.project_card:hover .project_photo .star {
    opacity: 1;
    transform: scale(1);
}

.project_card:hover p{
    color: #466ec3;
}

p.keywords{
    color: #666778;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
}



/* Section: About Me */
.about{
    height: auto;
    border-bottom-right-radius: 64px;
    border-bottom-left-radius: 64px;
    background-color: #f8f3ec;
    padding: 90px 0px 90px 0px;
}

.about_text{
    background-color: #dbd6fa;
    border-radius: 12px;
    align-self: flex-start;
    width: 635px;
    height: auto;
    padding: 47px;
    box-shadow: 0px 4px 4px #c5c1e1;
}

.about_me_pic{
    background-color: #dbd6fa;
    border-radius: 12px;
    align-self: flex-end;
    width: 589px;
    height: auto;
    padding: 47px;
    box-shadow: 0px 4px 4px #c5c1e1;
}

.about_row{
    display: flex;
    padding: 32px;
    justify-content: space-between;
}

.text_row{
    display: flex;
    gap: 10px;
}

/* Section: Footer */
footer {
    /* background-color: #0b1956; */
    padding-top: 0%;
    margin-top: 32px;
}

footer p{
    color: #f8f3ec;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: normal;
}

footer h2{
    color: #f8f3ec;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 42px;
    margin: 0;
}

.footer_row{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    
}
.footer_icons{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}
.resume{
    font-size: 20px;
}


footer a:link, footer a:visited{
    text-decoration: none;
    color:#f8f3ec;
    font-family: 'Inter';
}

footer a:hover, footer a:active{
    color: #466ec3;
}

.send_email_button {
    border: none;
    border-radius: 29px;
    background-color: #dbd6fa;
    color:#00011e;
    font-size: 22px;
    padding: 15px 16px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    transition-duration: 0.5s;
}

.send_email_button:hover{
    background-color: #466ec3;
    color:#dbd6fa;

}