
body {
    background-color: #f8f3ec;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    font-family: 'Quicksand';
    font-weight: bolder;
    font-size: 104px;
}
h2 {
    color: black;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 42px;
}
h3 {
    color: black;
    font-family: 'Quicksand';
    font-size: 28px;
}

p {
    color: black;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: lighter;

}
nav {
    height: 54px;
    width: auto;
    background-color: #466ec3;
    padding-top: 0%;
}
/* div{
    border: 1px dashed black;
} */

.landing {
    align-items: center;
    
}

.intro{
    text-align: center;
    padding: 5%;
}
.about div{
    height: auto;
}
.about_text{
    background-color: #dbd6fa;
    border-radius: 12px;
    align-self: flex-start;
    width: 635px;
    height: 520px;
    padding: 47px;
    box-shadow: 0px 4px 4px #c5c1e1;
}

.about_me_pic{
    background-color: #dbd6fa;
    border-radius: 12px;
    align-self: flex-end;
    width: 589px;
    height: 520px;
    padding: 47px;
    box-shadow: 0px 4px 4px #c5c1e1;
}

.about_row{
    display: flex;
    padding: 32px;
    justify-content: space-between;
}

.text_row{
    display: flex;
    gap: 10px;
}